cython
chardet
cloudpickle
dateutils
python-pptx
python-docx
pdfminer3k
lhafile
lxml
git+https://github.com/kirin123kirin/mso-dumper.git#egg=msodumper-0.3.0
nkf
nwdiag
olefile
psutil
#pyodbc
pyperclip
rarfile
sqlalchemy
xlrd
xlsxwriter
xsorted
